<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Resultados de Análisis</title>
</head>
<body>
<h1>Resultados de los Análisis</h1>

<h2>1. Total de desempleo por comunidad:</h2>
<ul>
    <li th:each="resultado : ${desempleoPorComunidad}">
        <span th:text="${resultado[0]}"></span>: <span th:text="${resultado[1]}"></span>
    </li>
</ul>

<h2>2. Desempleo total por sexo</h2>
<ul>
    <li th:each="resultado : ${desempleoPorSexo}">
        <span th:text="${resultado[0]}"></span>: <span th:text="${resultado[1]}"></span>
    </li>
</ul>

<h2>3. Desempleo total por rango de edad</h2>
<ul>
    <li th:each="resultado : ${desempleoPorSexo}">
        <span th:text="${resultado[0]}"></span>: <span th:text="${resultado[1]}"></span>
    </li>
</ul>

<h2>4. Promedio de desempleo por comunidad</h2>
<ul>
    <li th:each="resultado : ${desempleoPorSexo}">
        <span th:text="${resultado[0]}"></span>: <span th:text="${resultado[1]}"></span>
    </li>
</ul>

<h2>5. Comunidad con mayor desempleo total</h2>
<ul>
    <li th:each="resultado : ${desempleoPorSexo}">
        <span th:text="${resultado[0]}"></span>: <span th:text="${resultado[1]}"></span>
    </li>
</ul>

<h2>6. Comunidad con menor desempleo total</h2>
<ul>
    <li th:each="resultado : ${desempleoPorSexo}">
        <span th:text="${resultado[0]}"></span>: <span th:text="${resultado[1]}"></span>
    </li>
</ul>

<h2>7. Desempleo por sexo y comunidad</h2>
<ul>
    <li th:each="resultado : ${desempleoPorSexo}">
        <span th:text="${resultado[0]}"></span>: <span th:text="${resultado[1]}"></span>
    </li>
</ul>

<h2>8. Tendencia del desempleo por periodo y comunidad</h2>
<ul>
    <li th:each="resultado : ${desempleoPorSexo}">
        <span th:text="${resultado[0]}"></span>: <span th:text="${resultado[1]}"></span>
    </li>
</ul>

<h2>9. Porcentaje de desempleo por sexo en cada comunidad</h2>
<ul>
    <li th:each="resultado : ${desempleoPorSexo}">
        <span th:text="${resultado[0]}"></span>: <span th:text="${resultado[1]}"></span>
    </li>
</ul>

<h2>10. Desempleo total por comunidad para un rango de edad específico</h2>
<ul>
    <li th:each="resultado : ${desempleoPorSexo}">
        <span th:text="${resultado[0]}"></span>: <span th:text="${resultado[1]}"></span>
    </li>
</ul>

</body>
</html>
